.splash-screen {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
}

.logo {
    max-width: 100%;
    width: 100%;
    align-self: center;
    display: flex;
    justify-content: center;
}

#logo-svg {
    width: 200px;
    max-width: 33%;
}