.card {
    justify-content: center;
    margin: 20px;
    border-radius: 20px;
    background-color: lightgray;
}

.profile {
    padding: 20px;
    padding-bottom: unset;
}

.info {
    position: relative;
    display: flex;
    justify-content: space-between;
    /* padding-top: 20px; */
}

.circle {
    width: 65px;
    height: 65px;
    border-radius: 175px;
    background-color: white;
}

.profile-picture {
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

img.picture {
    width: calc(100vw - 80px);
    height: calc(100vw - 80px);
    max-width: 500px;
    max-height: 500px;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
}

.progressbars {
    padding: 20px;
}

.progressbar {
    height: 30px;
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
}

.progressbar .percent {
    width: 75%;
}

.progressbar .icon {
    width: 45px;
}