<app-navbar></app-navbar>

<div class="card">
  <div class="profile">
    <div class="info">
      <div class="circle"></div>
      <div class="circle"></div>
    </div>
    <div class="profile-picture">
      <img class="picture" src="./assets/images/profile-picture.jpg" alt="">
    </div>
  </div>
  <div class="progressbars">
    <div class="globe progressbar">
      <app-progressbar [percentage]="50" [color]="'blue'" class="percent bar"></app-progressbar>
      <img class="icon" src="./assets/images/globe-icon.svg" type="image/svg+xml">
    </div>
    <div class="music progressbar">
      <app-progressbar [percentage]="60" [color]="'yellow'" class="percent bar"></app-progressbar>
      <img class="icon" src="./assets/images/music-icon.svg" type="image/svg+xml">
    </div>
    <div class="time progressbar">
      <app-progressbar [percentage]="75" [color]="'green'" class="percent bar"></app-progressbar>
      <img class="icon" src="./assets/images/time-icon.svg" type="image/svg+xml">
    </div>
  </div>
</div>