<app-navbar></app-navbar>

<div class="stats">
    <h1>Stats</h1>
    <div class="progressbars">
        <app-progressbar [percentage]="50" [color]="'blue'" class="progressbar"></app-progressbar>
        <app-progressbar [percentage]="60" [color]="'yellow'" class="progressbar"></app-progressbar>
        <app-progressbar [percentage]="75" [color]="'green'" class="progressbar"></app-progressbar>
        <app-progressbar [percentage]="50" [color]="'blue'" class="progressbar"></app-progressbar>
        <app-progressbar [percentage]="60" [color]="'yellow'" class="progressbar"></app-progressbar>
        <app-progressbar [percentage]="75" [color]="'green'" class="progressbar"></app-progressbar>
        <app-progressbar [percentage]="60" [color]="'yellow'" class="progressbar"></app-progressbar>
        <app-progressbar [percentage]="75" [color]="'green'" class="progressbar"></app-progressbar>
    </div>
</div>